
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
  <a class="navbar-brand" [routerLink]="['/home']">
    <img class="menu-logo" src="assets/bootstrap-logo.svg">
  </a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li [routerLinkActive]="['active']" class="nav-item">
            <a class="nav-link" [routerLink]="['/home']">Home</a>
       </li>
      <li [routerLinkActive]="['active']" class="nav-item"> <!-- routerlinkactive is class just for styling-->
        <a class="nav-link" [routerLink]="['/about']">About</a>
      </li>
      <li [routerLinkActive]="['active']" class="nav-item"> 
        <a class="nav-link" [routerLink]="['/directives']">Directives</a>
      </li>
      <li [routerLinkActive]="['active']" class="nav-item"> 
        <a class="nav-link" [routerLink]="['/databinding']">Databinding</a>
      </li>
      <li [routerLinkActive]="['active']" class="nav-item"> 
        <a class="nav-link" [routerLink]="['/lifecycle-methods']">Lifecycle methods</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Galleries
        </a>
        <ul class="dropdown-menu">
          <li [routerLinkActive]="['active']">
            <a  class="dropdown-item" [routerLink]="['/gallery1']">Gallery 1</a>
          </li>
          <li><a class="dropdown-item" href="#">Gallery 2</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" href="#">Gallery 3</a></li>
        </ul>
      </li>
    </ul>
    <form class="d-flex" role="search">
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
  </div>
  </div>
  </nav>


