<h3>Table of products (Angular demo, databse queries based on json database)</h3>
<br><br>
<p>This is a demo of database queries connected to json database. If you do not see products table or "no products
  found" warning, the json server is not running.</p>
<div class="mb-3">

<!-- if there are no products in the table, the warning is shown-->
<div class="mb3" *ngIf='products.length !==0'>
  <label for="searchInput">Filter results: &nbsp;</label>
  <input name="searchInput" type="text" (input)="onFilter($event)">
</div>
</div>
<br><br>
<div *ngIf="errorMessage != '0'">
  <table *ngIf='products.length !==0; else noProductWarning' class="table table-striped">
    <thead>
      <tr>
        <th>
          Product title
        </th>
        <th>
          Product count
        </th>
        <th>
          Product price
        </th>
        <th>
          Product stars
        </th>
        <th>
          Product Json demo
        </th>
        <th>
          Product actions
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor='let product of filteredProducts'>
        <td scope="col">{{ product.title | uppercase }}</td> <!-- pipe is: | uppercase-->
        <td scope="col">{{ product.count }}</td>
        <td scope="col">{{ product.price | currency: 'USD'}}</td>
        <td><app-star [rating]="product.rating"></app-star></td>
        <td scope="col">{{ product | json}}</td>
        <td><button (click)="deleteProduct(product.id)" class="alert alert-warning">Delete</button></td>
      </tr>
    </tbody>
  </table>
</div>
<!--p *ngIf='products.length === 0' >There are no products</p-->
<br><br>
<div class="mb-3">
  <ng-template #noProductWarning>No products found!</ng-template>
</div>
<div class="mb-3" *ngIf="deleteError" class="alert alert-warning">
  Error deleting product!
</div>
<div class="mb-3" *ngIf="createError" class="alert alert-warning">
  Error creating product, all fields must be valid!
</div>
<br>

<div>
  <ng-template #noConnectionWarning>
    <div class="mb-3 message">
      <h3>Server is not running or accessible!
      </h3>
      <p class="message">
        It might occur because you are viewing this page on web where no json server is running.
      </p>
      <p>
        To fix it and see products in the table:
      </p>
      <p>
      <ul>
        <li>install Angular</li>
        <li>create Angular dependencies in the project folder</li>
        <li>clone the project from: https://gitlab.com/java-remote-ee27-course/angular</li>
        <li>from the IDE you are using, open Angular project folder and run server: ng serve -o</li>
        <li>install json server : npm install -g json-server</li>
        <li>run JSON server: json-server --watch db.json -o</li>
      </ul>
      <br>
      <p>
        You may see the picture here how the page looks like when server is running:
        <a [routerLink]="['/gallery1']">Gallery</a>

      </p>
    <!--p>
      The picture you see when server is running is sth similar:
    </p>
    <br>
    <img src ="assets/directives_page.png" alt="table of products view">
    <br-->
    </div>
  </ng-template>
</div>

<form #productForm="ngForm" *ngIf='products.length !==0'>
  <div class="form-group">
    <label for="pn">Name</label>
    <input name="title" type="text" class="form-control" id="pn" ngModel required>
  </div>
  <div [hidden]="(productForm.valid ||
                  productForm.untouched || 
                  productForm.value.title !== '')" class="alert alert-danger">
    Product name cannot be empty!
  </div>

  <div class="form-group">
    <label for="pc">Product count</label>
    <input name="count" type="number" class="form-control" id="pc" ngModel min="1" max="999" required>
  </div>
  <div [hidden]="(productForm.valid || 
                  productForm.untouched || 
                  (productForm.value.count >= 1 && productForm.value.count <= 999))" class="alert alert-danger">
    Count has to be between 1-999
  </div>

  <div class="form-group">
    <label for="pp">Product price</label>
    <input name="price" type="number" class="form-control" id="pp" ngModel min="0" max="9999">
  </div>
  <div [hidden]="(productForm.valid || 
                  productForm.untouched || 
                  (productForm.value.price >= 0 && productForm.value.price <= 9999))" class="alert alert-danger">
    Product price has to be between 0-9999
  </div>
  <div class="form-group">
    <label for="pr">Product rating</label>
    <input name="rating" type="number" class="form-control" id="pr" ngModel min="1" max="5">
  </div>
  <div [hidden]="(productForm.valid ||
                  productForm.untouched || 
                  productForm.value.rating > 0 && productForm.value.rating <= 5)" class="alert alert-danger">
    Product rating has to be between 1-5
  </div>
  <div class="mb-3">
    <button (click)="createProduct()" type="submit" class="btn btn-primary">Submit</button>
  </div>
</form>
<!-- {{ productForm.value | json }} {{ productForm.valid }} {{ productForm.touched }} -->